.white-logo {
  background: url('../images/d’Perfumewhite@2x.png') no-repeat;
  background-size: cover;
  height: 38px;
  width: 128px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}