.position-md-absolute {
  @include media-breakpoint-up(md) {
    position: absolute;
    right: 0;
  }
}

.pt-100 {
  padding-top: 100%;
}
.pt-200 {
  padding-top: 200%;
}
.pt-md-150 {
  @include media-breakpoint-up(md) {
    padding-top: 150%;
  }
}

.border-2 {
  border-width: 2px;
}

.order-lg-0 {
  @include media-breakpoint-up(lg) {
    order: 0;
  }
}