.blogDetail {
  &__date {
    color: #6C6C6C;
  }
  &__article {
    width: 73%;
  }
  &__tagGroup {
    width: 23%;
  }
  @include phone {
    &__article,
    &__tagGroup {
      width: 100%;
    }
  }
}

.blogDetail .breadcrumb {
  &__item {
    &.--active {
      color: getColor('secondary');
    }
  }
  @include ipad {
    font-size: 14px;
  }
}
.blogDetail .article {
  &__share {
    border-bottom: 1px solid #000;
  }
  @include ipad {
    &__title {
      font-size: 32px;
      line-height: 45px;
    }
    &__subTitle {
      font-size: 16px;
      line-height: 21px;
    }
    &__date {
      font-size: 14px;
    }
  }
  @include phone {
    &__title {
      font-size: 20px;
      line-height: 28px;
    }
    &__subTitle {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
.blogDetail .content {
  &__img {
    width: 100%;
  }
  &__text {
    color: rgba(#0A0A0A, 0.6);
  }
  @include ipad {
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
.blogDetail .share {
  &__item {
    i {
      color: #000;
      font-size: 1.5rem;
    }
  }
}
.blogDetail .orderLink__item {
  font-size: 18px;
  line-height: 26px;
  img {
    width: 24px;
  }
  @include ipad {
    font-size: 16px;
    line-height: 22px;
    img {
      width: 20px;
    }
  }
  @include phone {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    &:last-child a {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    img {
      width: 16px;
    }
  }
}
.blogDetail .tagGroup {
  &__title {
    @include ipad {
      font-size: 20px;
      line-height: 26px;
      img {
        width: 24px;
      }
    }
  }
  &__item {
    display: inline-block;
    @include ipad {
      font-size: 16px;
      line-height: 21px;
    }
  }
}