.card-link {
  color: $black;
  &:hover {
    color: $primary-light;
  }
}
.card-hover--textMore {
  position: relative;
  transition: .3s all;
  &:before {
    content: 'More ...';
    position: absolute;
    color: $primary-light;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s;
    z-index: 1;
    font-weight: 700;
    font-size: 1.5rem;
  }
  &:hover:before,
  &:hover:after {
    opacity: 1;
  }
  &:hover:before {
    top: 55%;
  }
}
.card-cover {
  position: relative;
  &:before {
    content: 'Sold out';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: rgba($black, .3);
  }
}