*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  @include ipad {
    max-width: 690px;
  }
  @include phone {
    max-width: 345px;
  }
}