// 頁首
.header {
  &__logo {
    display: block;
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    height: 49px;
    width: 80px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 29.5px;
    margin-bottom: 29.5px;
  }
  @include ipad {
    padding-left: 39px;
    padding-right: 7px;
  }
  @include phone {
    padding: 0;
    flex-direction: column;
    &__logo {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 29px;
      width: 48px;
    }
  }
}

.headerMenu {
  height: 100%;
  a:hover {
    background-color: getColor('primary');
  }
  @include phone {
    width: 100%;
    flex-wrap: wrap;
    &__item {
      text-align: center;
      width: 50%;
      border: 1px solid color('light');
    }
  }
}

// 頁尾
.footer {
  &__menuGroup {
    border-bottom: 1px solid getColor('light');
    @include phone {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  a {
    color: getColor('light');
    transform: translateY(0px);
    transition: .2s;
    &:hover {
      transform: translateY(-4px);
    }
  }
}
.footerMenu {
  @include phone {
    display: none;
  }
}

.footerIocnMenu,
.footerContact {
  img {
    @include ipad {
      max-width: 24px;
    }
  }
}

.footerContact {
  &__item a {
    display: inline-block;
    @include phone {
      &.h3 {
        font-size: 16px;
      }
    }
  }
}

.footerCopyright {
  @include ipad {
    &__logo {
      display: none;
    }
  }
  @include phone {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    &__logo {
      display: inline;
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 46px;
    }
  }
}