.mapCard {
  width: 40%;
  &__title {
    border: 1px solid #00000020;
    padding: 12px 24px;
    @include ipad {
      font-size: 16px;
      line-height: 24px;
      padding: 8px 16px;
      margin-right: auto;
    }
  }
  &__contentList {
    border: 1px solid #00000020;
    padding: 16px 24px;
    @include ipad {
      padding: 16px;
    }
  }
  &__item {
    line-height: 30px;
    margin-bottom: 8px;
    vertical-align: middle;
    @include ipad {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 8px;
    }
  }
  &__iconImg {
    width: 20px;
    margin-right: 16px;
  }
}

.mapSelect {
  width: 100%;
  &__label {
    font-size: 24px;
    line-height: 33px;
    margin-right: 22px;
  }
  &__select {
    display: inline-block;
    width: 29%;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #CED4DA;
    border-radius: 1px;
    color: #495057;
    padding: 10px 19px;
    margin-bottom: 32px;
  }
  @include ipad {
    &__label {
      font-size: 16px;
      line-height: 22px;
    }
    &__select {
      width: 35%;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }
  @include phone {
    &__label {
      font-size: 14px;
      line-height: 20px;
    }
    &__select {
      width: 76%;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}

// 門市據點-詳細頁
.mpaDetail {
  &__inner {
    padding-top: 16px;
    padding-bottom: 304px;
    @include ipad {
      padding-top: 8px;
      padding-bottom: 104px;
    }
  }
  .mapCard {
    @include ipad {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 32px;
      &__img {
        width: 49%;
        height: 164px;
      }
      &__body {
        width: 49%;
      }
    }
    @include phone {
      &__img {
        width: 100%;
      }
      &__body {
        width: 100%;
      }
    }
  }
  &__mapImg {
    width: 58%;
    @include ipad {
      width: 100%;
    }
  }
}

