// 字體
.h1 {
  font-size: 4rem;
  line-height: 90px;
  @include ipad {
    font-size: 48px;
    line-height: 67px;
  }
  @include phone {
    font-size: 28px;
    line-height: 40px;
  }
}
.h2 {
  font-size: 3rem;
}
.h3 {
  font-size: 2.25rem;
  @include ipad {
    font-size: 20px;
  }
}
.h4 {
  font-size: 2rem;
  line-height: 45px;
  @include phone {
    font-size: 20px;
    line-height: 28px;
  }
}
.h5 {
  font-size: 1.5rem;
  line-height: 36px;
  @include ipad {
    font-size: 16px;
    line-height: 24px;
  }
}
.h6 {
  font-size: 1.25rem;
  line-height: 28px;
  @include phone {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-center {
  text-align: center;
}

// 字體顏色
@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
};

// 字體粗細
@each $key, $val in $fontWeights {
  .font-#{$key} {
    font-weight: $val;
  }
}

// 背景顏色
@each $key, $val in $colors {
  .bg-#{$key} {
    background-color: $val;
  }
};

// flex
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.align-item-center {
  align-items: center;
}
.aling-item-end {
  align-items: flex-end;
}
.flex-colum {
  flex-direction: column;
}
.flex-colum-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.order {
  order: 1;
}

// 邊距與間距-產生器
@each $poinpkey, $pointVal in $screenPoint {
  @if($poinpkey==pc) {
    @include calcSpace($pointVal);
  }
  @else if($poinpkey==ipad) {
    @include ipad {
      @include calcSpace($pointVal);
    }
  }
  @else if($poinpkey==phone) {
    @include phone {
      @include calcSpace($pointVal);
    }
  }
}
// 邊距-auto
@each $key, $val in $direction {
  .m#{$key}-auto {
    @if($key==x) {
      margin-left: auto;
      margin-right: auto;
    }@else if ($key==y) {
      margin-top: auto;
      margin-bottom: auto;
    }@else{
      margin-#{$val}: auto;
    }
  }
};