/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.h1 {
  font-size: 4rem;
  line-height: 90px;
}

@media (max-width: 992px) {
  .h1 {
    font-size: 48px;
    line-height: 67px;
  }
}

@media (max-width: 767px) {
  .h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2.25rem;
}

@media (max-width: 992px) {
  .h3 {
    font-size: 20px;
  }
}

.h4 {
  font-size: 2rem;
  line-height: 45px;
}

@media (max-width: 767px) {
  .h4 {
    font-size: 20px;
    line-height: 28px;
  }
}

.h6 {
  font-size: 1.25rem;
  line-height: 28px;
}

@media (max-width: 767px) {
  .h6 {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #FFFFFF;
}

.text-bark {
  color: #000000;
}

.text-primary {
  color: #650300;
}

.text-secondary {
  color: #AA0601;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aling-item-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.bg-secondary {
  background-color: #AA0601;
}

.bg-light {
  background-color: #AA06010D;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 36px;
}

.mb-5 {
  margin-bottom: 40px;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-auto {
  margin-right: auto;
}

.banner {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 304px;
}

@media (max-width: 992px) {
  .banner {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 143px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.banner img {
  height: 57px;
}

@media (max-width: 992px) {
  .banner img {
    height: 48px;
  }
}

@media (max-width: 767px) {
  .banner img {
    height: 24px;
    margin-left: 8px;
  }
}

.banner__inner {
  width: 100%;
}

@media (max-width: 992px) {
  .banner__title {
    font-size: 48px;
    line-height: 67px;
  }
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 28px;
    line-height: 40px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.h1 {
  font-size: 4rem;
  line-height: 90px;
}

@media (max-width: 992px) {
  .h1 {
    font-size: 48px;
    line-height: 67px;
  }
}

@media (max-width: 767px) {
  .h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2.25rem;
}

@media (max-width: 992px) {
  .h3 {
    font-size: 20px;
  }
}

.h4 {
  font-size: 2rem;
  line-height: 45px;
}

@media (max-width: 767px) {
  .h4 {
    font-size: 20px;
    line-height: 28px;
  }
}

.h6 {
  font-size: 1.25rem;
  line-height: 28px;
}

@media (max-width: 767px) {
  .h6 {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #FFFFFF;
}

.text-bark {
  color: #000000;
}

.text-primary {
  color: #650300;
}

.text-secondary {
  color: #AA0601;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aling-item-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.bg-secondary {
  background-color: #AA0601;
}

.bg-light {
  background-color: #AA06010D;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 36px;
}

.mb-5 {
  margin-bottom: 40px;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-auto {
  margin-right: auto;
}

.banner {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 304px;
}

@media (max-width: 992px) {
  .banner {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 143px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.banner img {
  height: 57px;
}

@media (max-width: 992px) {
  .banner img {
    height: 48px;
  }
}

@media (max-width: 767px) {
  .banner img {
    height: 24px;
    margin-left: 8px;
  }
}

.banner__inner {
  width: 100%;
}

@media (max-width: 992px) {
  .banner__title {
    font-size: 48px;
    line-height: 67px;
  }
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 28px;
    line-height: 40px;
  }
}

.header {
  padding: 30px 88px;
}

@media (max-width: 992px) {
  .header {
    padding: 30px 39px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-logo {
  display: block;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  height: 49px;
  width: 80px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .header-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 29px;
    width: 48px;
  }
}

@media (max-width: 767px) {
  .header-menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header-menu__item {
  margin-left: 64px;
}

@media (max-width: 992px) {
  .header-menu__item {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .header-menu__item {
    margin-left: 0;
    text-align: center;
    width: 50%;
    border: 1px solid #FFFFFF;
  }
  .header-menu__item a {
    display: block;
    margin: 8px auto;
  }
}

.footer-inner {
  padding-top: 36px;
  padding-bottom: 28px;
}

@media (max-width: 992px) {
  .footer-inner {
    padding: 40px 48px;
  }
}

@media (max-width: 767px) {
  .footer-inner {
    padding: 24px 15px;
  }
}

.footer-MenuIconContact {
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 24px;
  padding-bottom: 5px;
}

@media (max-width: 992px) {
  .footer-MenuIconContact {
    padding-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .footer-MenuIconContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-MenuIcon {
  margin-bottom: 18px;
}

@media (max-width: 992px) {
  .footer-MenuIcon {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .footer-MenuIcon {
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .footer-menu {
    display: none;
  }
}

.footer-menu__item {
  margin-right: 48px;
}

@media (max-width: 992px) {
  .footer-menu__item {
    margin-right: 40px;
  }
}

.footer-icon__item {
  margin-left: 32px;
}

@media (max-width: 992px) {
  .footer-icon__item {
    margin-left: 24px;
  }
  .footer-icon__item img {
    max-width: 24px;
  }
}

.footer-icon__item:first-child {
  margin-left: 0;
}

.footer-contact__item {
  margin-bottom: 17px;
}

@media (max-width: 992px) {
  .footer-contact__item {
    margin-bottom: 11px;
  }
  .footer-contact__item img {
    max-width: 24px;
  }
}

@media (max-width: 767px) {
  .footer-contact__item {
    margin-bottom: 7px;
  }
}

@media (max-width: 767px) {
  .footer-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .footer-copyright__item {
    margin-bottom: 7px;
  }
}

.footer-copyright__item:last-child {
  margin-left: 62px;
}

@media (max-width: 992px) {
  .footer-copyright__item:last-child {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .footer-copyright__item:last-child {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.fqa__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 992px) {
  .fqa__inner {
    padding: 40px 39px;
  }
}

@media (max-width: 767px) {
  .fqa__inner {
    padding: 24px 15px;
  }
}

@media (max-width: 767px) {
  .fqa__inner .h4 {
    margin-bottom: 12px;
  }
}

.fqa-list__item {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .fqa-list__item {
    margin-bottom: 20px;
  }
}

.fqa-list__item h4 {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .fqa-list__item h4 {
    margin-bottom: 8px;
  }
}

.fqa-list__item p {
  margin-left: 96px;
}

@media (max-width: 992px) {
  .fqa-list__item p {
    margin-left: 56px;
  }
}

@media (max-width: 767px) {
  .fqa-list__item p {
    text-align: justify;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .fqa-list__item br {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */