.pagination {
  display: flex;
  justify-content: center;
  &__item {
    border: 1px solid getColor('dark-500');
    border-right: none;
    &:last-child {
      border-right: 1px solid getColor('dark-500');
    }
  }
  &__link {
    font-size: 18px;
    padding: 12px 16px;
    color: getColor('dark-500');
    transition: all .3s;
    @include mobile {
      font-size: 11px;
      padding: 8px 10px;
    }
    &.--disabled {
      background-color: #F2F2F2;
    }
    &.--active {
      color:  getColor('light');
      background: getColor('dark');
    }
    &:hover {
      color: getColor('light');
      background-color: getColor('dark-500');
    }
  }
}