*, *::before, *::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  display: block;
  text-decoration: none;
}
html {
	font-size: $font-size-base;
}
body {
  font-family: $font-family-base;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	font-family: $font-family-base;
}
.line-height {
  line-height: $line-height-base;
}
.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  @include pad {
    max-width: 690px;
  }
  @include mobile {
    max-width: 345px;
  }
}