header a, footer a{
  color: getColor('light');
}
.header {
  &__logo {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    height: 49px;
    width: 80px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    @include mobile {
      width: 48px;
      height: 29px;
    }
  }
  &__menu a {
    transition: all 0.3s;
    &:hover {
      background-color: getColor('primary');
    }
    @include mobile {
      border: 1px solid getColor('light');
    }
  }
}

footer a {
  transform: translateY(0px);
  transition: .2s;
  &:hover {
    transform: translateY(-4px);
  }
}
.footer {
  &__others {
    border-top: 1px solid getColor('light');
  }
  @include pad {
    &__logo {
      display: none;
    }
  }
  @include mobile {
    &__menu {
      display: none;
    }
  }
}