.banner {
  position: relative;
  height: 304px;
  background: url('./../images/blog-4.png') no-repeat center;
  background-size: cover;
  @include mobile {
    height: 143px;
  }
  &__title {
    position: absolute;
    bottom: 0;
    @include animationBase(fadeDown, 2s);
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
  &__icon {
    display: block;
    @include mobile {
        width: 1.5rem;
    }
  }
}