@mixin calcSpace($screenVal) {
  @each $key, $val in $direction {
    @for $i from 0 through 14 {
      $calc: $i * 0.5rem;
      .p#{$key}-#{$screenVal}#{$i} {
        @if($key==x) {
          padding-left: $calc;
          padding-right: $calc;
        }
        @else if ($key==y) {
          padding-top: $calc;
          padding-bottom: $calc;
        }
        @else {
          padding-#{$val}: $calc;
        }
      }
      .m#{$key}-#{$screenVal}#{$i} {
        @if($key==x) {
          margin-left: $calc;
          margin-right: $calc;
        }
        @else if ($key==y) {
          margin-top: $calc;
          margin-bottom: $calc;
        }
        @else {
          margin-#{$val}: $calc;
        }
      }
    }
  }
}

// 邊距與間距-產生器
@each $screenkey, $screenVal in $screenPoint {
  @if($screenkey==pc) {
    @include calcSpace($screenVal);
  }
  @else if($screenkey==pad) {
    @include pad {
      @include calcSpace($screenVal);
    }
  }
  @else if($screenkey==mobile) {
    @include mobile {
      @include calcSpace($screenVal);
    }
  }
}

// 邊距-auto
@each $key, $val in $direction {
  .m#{$key}-auto {
    @if($key==x) {
      margin-left: auto;
      margin-right: auto;
    }@else if ($key==y) {
      margin-top: auto;
      margin-bottom: auto;
    }@else{
      margin-#{$val}: auto;
    }
  }
};