<% if (current==='login') { %>
  <header class="container bg-transparent">
    <div class="d-flex justify-content-between py-4 py-md-6">
      <h1 class="navbar-brand">
        <a class="logo" href="./index.html">ALOHA</a>
      </h1>
      <button class="btn text-black d-md-none">
        <span class="material-icons">close</span>
      </button>
    </div>
  </header>
<% } else if (current==='member') { %>
  <header class="container">
    <div class="navbar navbar-expand-md navbar-light py-md-4">
      <button class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand">
        <a class="logo" href="./index.html">ALOHA</a>
      </h1>
      <a class="d-md-none" href="../index.html">
        <img class="img-cover rounded-pill border border-primary border-2 mr-2" src="../assets/images/profile.jpg" alt="" style="width: 24px; height: 24px;"></a>
      <nav class="collapse navbar-collapse" id="headerNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-8">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="material-icons">language</span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">繁體中文</a>
              <a class="dropdown-item" href="#">簡體中文</a>
              <a class="dropdown-item" href="#">English</a>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="img-cover rounded-pill border border-primary border-2 mr-2" src="../assets/images/profile.jpg" alt="" style="width: 24px; height: 24px;">David Lin</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../index.html">Login out</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
<% } else { %>
  <header class="container">
    <div class="navbar navbar-expand-md navbar-light py-md-4">
      <button class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand">
        <a class="logo" href="./index.html">ALOHA</a>
      </h1>
      <div class="navbar-nav d-md-none">
        <a class="nav-link" href="../login.html">Login</a>
      </div>
      <nav class="collapse navbar-collapse" id="headerNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-8">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="material-icons">language</span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">繁體中文</a>
              <a class="dropdown-item" href="#">簡體中文</a>
              <a class="dropdown-item" href="#">English</a>
            </div>
          </li>
          <li class="nav-item mr-8">
            <a class="nav-link" href="#">Sign up</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="../login.html">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
<% } %>