.border.border-2 {
  border-width: 2px !important;
}
.img-cover {
  object-fit: cover;
  object-position: center center;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.z-index-2 {
  z-index: 2;
}
.bg-gradual {
  background: linear-gradient(270deg, #00000000, #000000);
}
.sticky-header {
  position: sticky;
  top: 56px;
  z-index: $zindex-sticky;
  @include media-breakpoint-up(md) {
    top: 72px;
  }
}

.box-shadow-none {
  &:focus {
    box-shadow: none;
  }
  &.btn{
    &:focus,
    &.focus {
      box-shadow: none;
    }
  }
}
.line-nowrap {
  white-space:nowrap
}


// 之後放元件
.tag {
  padding: 2px .5rem;
  border-radius: $rounded-pill;
  color: $info;
  background: $light;
  font-size: 0.625rem;
  @include media-breakpoint-up(xl) {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
}