.border.border-2 {
  border-width: 2px !important;
}
.img-cover {
  object-fit: cover;
  object-position: center center;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.z-index-2 {
  z-index: 2;
}
.bg-gradual {
  background: linear-gradient(270deg, #00000000, #000000);
}