<footer class="bg-primary">
  <div class="container">
    <div class="d-flex align-items-center">
      <h2 class="white-logo mr-6 mr-md-5">
        <a href="#">D'Perfume</a>
      </h2>
      <p class="text-white font-sm h6-md text-md-base py-8 py-md-7">© 2020. All Rights Reserved.</p>
      <nav class="d-none d-md-block ml-auto">
        <ul class="d-flex list-unstyled text-white">
          <li><a class="lh-1 text-white h4 hover-link--primaryLight py-7 mr-9" href="#">Product</a></li>
          <li><a class="lh-1 text-white h4 hover-link--primaryLight py-7 mr-9" href="#">Blog</a></li>
          <li><a class="lh-1 text-white h4 hover-link--primaryLight py-7" href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>